img {
  max-width: 100%;
  height: 100vh;
  width: 100%;
}

@media (max-width: 1200px) {
  img { 
    display: none ;
  }
  html {
      background: url('./../public/background.png') 100% 100% no-repeat; 
      background-size: cover;
      }  
}

@media (max-width: 600px) {
  html {
    background-image: none; 
  }
}
